.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: var(--color-bg-main);
}

.main-content {
  width: 75vw;
  height: 100vh;
  position: relative;
  background: var(--color-bg-content);
  overflow: hidden;
} 